.custom-shape-divider-bottom-1757261588 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1757261588 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1757261588 .shape-fill {
  fill: #ff0000; /* no alpha here */
}
